<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PG4100: Innlevering 3, Bastian Stien</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12"><h1>Primtallssjekk</h1>
            <p>Skriv inn et tall under for å sjekke om det er et primtall eller
                ei</p></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form th:action="@{/}" method="POST">
                <div class="form-group">
                    <label for="number">Tall</label>
                    <input class="form-control" type="text" name="number"
                           autofocus="true"/>
                </div>
                <div class="form-group">
                    <input class="btn btn-default" type="submit" value="Sjekk"/>
                </div>
            </form>
        </div>
    </div>
    <div class="row" th:if="${message}">
        <div class="col-md-12">
            <h5>Resultat</h5>
            <p th:text="${message}" id="message">melding</p>
        </div>
    </div>
</div>
</body>
</html>